body{background:#000;font-family:"Microsoft YaHei","Segoe UI","Lucida Grande",Helvetica,Arial,sans-serif}
.no404 img{top:80px;text-align:center;position:relative;clear: both;display: block;margin:auto;}
.no404 h1{margin-top:100px;position:absolute;text-align:center;width:100%;font-size:2em;color:#889BA9;}
.no404 p{margin-top:150px;position:absolute;text-align:center;width:100%;font-size:1.1em;color:#889BA9;}