#head{
    height: 82px;
    display: flex;
    align-items: center;
}
body{
    background: #000;
}
.head-center{
    width: 1200px;
    margin: 0 auto;
    align-items: center;
    display: flex;
}
.logo{
    width: 380px;
    line-height: 82px;
    color: white;
    font-size: 30px;
    display: inline-block;
}
.logo span{
    margin-left: 46px;
}
.header-nav{
    display: inline-block;
}

.head-control{
    width: 1200px;
    margin: 28px auto 0;
    border-radius: 15px;
    height: 110px;
}
.content-box-all{
    width: 1200px;
    border-radius: 15px;
    margin: 28px auto 0;
    padding: 20px;
}
.phone{
    height: 25px;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.group,.xinghao{
    height: 25px;
    color: #ffffff;
    margin-top: 10px;
}
.she-type{
    margin-left: 19px;
    width: 100px;
    display: inline-block;
}
.she-bei{
    margin-left: 5px;
    width: 105px;
}
.cao-zuo{
    width: 1160px;
    background-color: #000;
    height: 530px;
    margin-top: 20px;
    border-radius: 15px;
    padding: 10px;
}
.kong-fan{
    width: 1160px;
    background-color: #000;
    margin-top: 20px;
    height: 195px;
    border-radius: 15px;
    padding: 10px;
}
.log-jian{
    width: 1160px;
    background-color: #000;
    margin-top: 20px;
    height: 400px;
    border-radius: 15px;
    padding: 10px;
}
.title-jian{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
.left-kong{
    width: 330px;
    display: inline-block;
}
.kong-jian{
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
}
.button-do{
    height: 55px;
    width: 240px;
    border-radius: 30px;
    padding: 0 30px;
    display: inline-block;
    position: relative;
}
.dang-she{
    line-height: 55px;
    cursor: pointer;
}
.kong-she{
    line-height: 55px;
    float: right;
    cursor: pointer;
}

.qie-se{
    color: #E0AB37;
    font-size: 20px;
}

.qie-hui{
    color: #666666;
    font-size: 14px;
}

.shu-kong{
    display: inline-block;
    width: 1px;
    height: 105px;
    background-color: #D8D8D8;
    float: right;
    margin-right: 60px;
}
.right-kong{
    float: right;
    width: 810px;
    display: inline-block;
}
.log-cont{
    color: #D75054;
    font-size: 12px;
    margin-bottom: 5px;
}
.heng-kong{
    height: 2px;
    margin-top: 6px;
}
.button-use li{
    float: left;
}
.button-use li img{
    display: block;
    width: 56px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 10px;
}
.button-use li span{
    margin-top: 10px;
    display: block;
    width: 56px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 10px;
}

.script{
    display: inline-block;
    height: 480px;
    float: left;
}

.script li{
    color: #666666;
    font-size: 18px;
}


.script li span{
    border-radius: 30px;
    display: inline-block;
    color: #666666;
    background-color: #151515;
    padding: 18px 65px;
    margin-bottom: 10px;
}

.light-do{
    background-color: #000 !important;
    color: #E0AB37 !important;
}

.yang-hao,.si-xin,.dou-hao,.dou-xin{
    display: none;
}
.script-zi,.do-zhi.do-ting{
    cursor: pointer;
}

.script-use{
    display: inline-block;
    height: 480px;
    width: 850px;
    color: white;
    font-size: 18px;
    margin-left: 40px;
}
.script-zi{
    display: inline-block;
    min-width: 105px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
}

#test {
    width:100%;
    height:100%;
    background-color:#fff;
    position:fixed;
    top:0;
    left:0;
    z-index:2;
    opacity:0.5;
    /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
    display: none;
}

#log_window {
    width:800px;
    background-color:#000;
    margin: auto;
    position: absolute;
    z-index:3;
    top: 10%;
    left: 0;
    right: 0;
    padding: 20px;
    display: none;
}
.title-meng{
    text-align: center;
    font-size: 20px;
    margin: 20px;
}

.small-title{
    color: #fff;
    font-size: 18px;
    margin: 5px 0;
}
.do-zi{
    float: right;
}

.do-zhi,.do-ting{
    border-radius: 30px;
    display: inline-block;
    background-color: #151515;
    padding: 12px 35px;
    margin-bottom: 10px;
    margin-left: 15px;
}
.do-zhi{
    color: #E0AB37;
}
.do-ting{
    color: #D75054;
}













@charset "UTF-8";
/**
 *
 * @authors zhengy
 * @date    2019-06-20
 * @version $Id$
 */

.top {
    background: #fff;
    margin-bottom: 20px;
    padding: 15px 0px;
    height: auto;
    text-align: center;
    color: #666;
    font-size: 15px;
}

.content {
    background: #fff;
    padding: 25px 0px 80px;
}

.tit {
    border-left: 5px solid #2880E4;
    color: #2880E4;
    font-size: 17px;
    padding: 0px 20px;
}

.info {
    color: #666;
    font-size: 15px;
    width: 450px;
    margin: 8px 0;
}

.info>div {
    margin: 15px 0px;
    position: relative;
}

.info b {
    color: #f00;
    position: absolute;
    left: -20px;
    top: 5px;
}

.info span {
    margin-right: 15px;
}

.info input[type="text"] {
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    padding: 4px 10px;
    font-size: 14px;
    color: #666;
    width: 50px;
}

.info select,
.top select {
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    padding: 4px 10px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}

.info input[type="radio"] {
    cursor: pointer;
}

.info label {
    cursor: pointer;
    font-weight: normal;
    margin-right: 10px;
}

.info font {
    color: #f00;
    margin-left: 20px;
    font-size: 14px;
}


.btn_out {
    width: 1170px;
    background: #fff;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 50%;
    margin-left: -585px;
    padding: 15px 0px;
    border-top: 1px solid #e0e0e0;
}



#fileMedia,#fileRuan{
    display: block;
    position: relative;
    top: -85px;
    right: 0;
    width: 65px;
    height: 85px;
    cursor: pointer;
    opacity: 0;
}

.group-cont{
    background-color: #151515;
    position: absolute;
    right: 0;
    width: 135px;
    margin-top: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 10px;
}

.get-group{
    display: block;
    /* margin-bottom: 15px; */
    outline: none;
    /* border: 1px solid #cdcdcd; */
    border-radius: 3px;
    padding: 8px 20px;
    font-size: 16px;
    color: #666;
    cursor: pointer;
    margin-left: 10px;
}
