.index{
 	height: 100%;
    margin: 0;
    padding: 0;
}

#blockly_div{
	float: left;
    margin: 28px auto 0;
    width: 60%;
    height: calc(100% - 82px - 28px);
}

#operating_area{
	float: right;
	margin: 28px auto 0;
	width: 38%;
    height: calc(100% - 82px - 28px);
    background-color: #151515;
}

#operating_buts{
	float: left;
	width: 40%;
	height: 300px;
	background-color: #000;
	border-radius: 15px;
	overflow: auto;
}

#operating_buts_th{
	height: 30px;
	background-color: #4c4c4c;
	text-align: center;
}

#operating_buts_run, #operating_buts_stop, #operating_buts_save{
	width: 100%;
	height: 30px;
	border-radius: 15px 0 15px 0;
	margin-top: 10px
}

#operating_buts_run{
	background-color: #222;
	color: #09d296;
	border: 1px solid #09d296;
}

#operating_buts_stop{
	background-color: #222;
	color: #e20000;
	border: 1px solid #e20000;
}

#operating_buts_save{
	background-color: #222;
	color: #ff8c1f;
	border: 1px solid #ff8c1f;
}

#script_files{
	float: right;
	width: 57%;
	height: 300px;
	background-color: #000;
	border-radius: 15px;
}

#script_files_table{
   border-collapse: collapse;
   width: 100%;
   border-radius: 15px;
}

#script_files_table_div{
	width: 100%;
	height: 270px;
	border-radius: 15px;
	overflow: auto;
}

#script_files_th {
	height: 30px;
	background-color: #4c4c4c;
	padding: 5px 15px 5px 5px;
	text-align: center;
	vertical-align: baseline;
	border-radius: 15px 15px 0px 0;
}
#script_files_table td {
   border: 1px solid #aaaaaa30;
   padding: 5px 15px 5px 5px;
   vertical-align: text-top;
}

#script_log{
	padding: 10px;
	float: left;
	width: 100%;
	height: calc(100% - 313px);
	background-color: #000;
	border-radius: 15px;
}

#script_log_th{
	height: 30px;
	background-color: #4c4c4c;
	text-align: center;
	border-radius: 15px 15px 0px 0;
}

#log_out{
	width: 100%;
	height: 100%;
	overflow: auto;
}

#log_out p{
    color: #D75054;
    font-size: 12px;
    margin-bottom: 5px;
}

.blocklySvg{
	background-color: #151515;
}

.blocklyToolboxDiv{
	background-color: #aaaaaa70;
}

.blocklyScrollbarHandle{
    fill: #aaaaaa70;
}
.blocklyFlyoutBackground {
    fill: #888888c7;
    fill-opacity: .8;
}
.blocklyMainBackground {
    stroke-width: 0;
    stroke: #c6c6c6;
}