<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean class="com.zciteam.service.other.DeviceMessage" init-method="initDevice"/>
    <bean class="com.adb.manager.DeviceChangeListener" init-method="addObserver"/>
    <bean class="com.adb.manager.AndroidDebugBridgeWrapper"/>
    <bean class="com.adb.manager.DeviceManager" init-method="start"/>
</beans>